*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --radius: 6px;
}

body {
    background-color: white;
    color: white;
    font-size: 15px;
}

p {

}

.container {
    max-width: 80%;
    margin: 70px auto;
    
}

.row {
    display: flex;
}

.flex-item {
    width: 100%;
    padding: 2em;
}

.flex-item--one {
    background-color: var(--bright-orange);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.flex-item--two {
    background-color: var(--dark-cyan);
}

.flex-item--three {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.container--flex-item {

}

a {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    margin-top: 4em;
    padding: 0.7em 1.6em;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.7rem
}

.flex-item--one a:hover {
    background-color: var(--bright-orange);
    color: white;
    outline: 2px solid white;
}
.flex-item--two a:hover {
    background-color: var(--dark-cyan);
    color: white;
    outline: 2px solid white;
}
.flex-item--three a:hover {
    background-color: var(--very-dark-cyan);
    color: white;
    outline: 2px solid white;
}

.flex-item--one a {
    color: var(--bright-orange);
}

.flex-item--two a {
    color: var(--dark-cyan);
}

.flex-item--three a {
    color: var(--very-dark-cyan);
}

h2 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    margin: 0.7em 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 2;
    font-size: 0.7rem;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .flex-item--one {
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--radius);
    }
    
    
    .flex-item--three {
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--radius);
        border-bottom-left-radius: var(--radius);

    }
}